.body {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Indie Flower", cursive;
}

.navbar-brand {
  font-family: "Indie Flower", cursive;
  font-size: 1.7rem;
}
