@use "../variables" as theme;
@use "./mixins";

.section--xl {
  padding: 2.5rem 0;
  img {
    display: block;
    max-width: 100%;
  }
  @media (min-width: 768px) {
    padding: 5rem 0;
  }
}

.menu,
.hero--main {
  @include gradient-x(theme.$purple-dark, theme.$pink);
}

.progress-bar {
  @include gradient-x($purple-dark, $pink);
}

.carousel-inner {
  img {
    opacity: 0.5;
  }

  img:hover {
    opacity: 1;
  }
}
